/* GENERAL STYLES */
:root {
  --secondary-color: rgb(246, 246, 246);
  --main-color: #212529;
  --light-color: #495057;
  --yellow: #fab005;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.grid {
  display: grid;
}
.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.col3 {
  grid-template-columns: repeat(3, 1fr);
}
.col4 {
  grid-template-columns: repeat(4, 1fr);
}
.gap-small {
  gap: 1rem;
}
.flex {
  display: flex;
}
body {
}
header {
  height: 100vh;
  background-image: url();
  background-image: linear-gradient(
      to right bottom,
      rgba(26, 25, 25, 0.35),
      rgba(87, 74, 63, 0.35)
    ),
    url(https://img1.wsimg.com/isteam/ip/6d7a260f-bd8e-466d-81b2-5e0c3ba48dca/5554FE76-6C73-4091-97D0-8ECC9D07F5BE.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,m);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 1.6rem;
}

#video,
#partners,
#coach-section {
  height: 80vh;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
/* HEADER */
.main-heading {
  display: flex;
  height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-logo {
  width: 15rem;
  height: 15rem;
}
/* MAIN SECTION */
.subheading {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin-top: 1rem;
  color: var(--main-color);
}
.sub-text {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}
#coach-section {
  width: 70%;

  margin: auto;
}
.coach {
  width: 500px;
  height: 500px;
}
.coach-right-side {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.coach-left-side {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.coach-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--light-color);
  margin-bottom: 1rem;
}
.coach-list {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video {
  display: block;
  margin: auto;
  padding: 0.5rem;
}
/* PLAYER GALLERY */
#players {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player {
  width: 400px;
  height: 400px;
  border-radius: 2%;
  box-shadow: 1px 5px 5px 5px #caccce;
  transition: all 0.2s;
}
.player:hover {
  /* transform: scale(110%); */
  transform: translateY(-10px);
  cursor: pointer;
}
.ply {
  padding: 1.5rem 0 0 0;
}
.player-gallery {
  margin: auto;
  padding: 1.5rem;
  overflow-x: auto;
}

/* Partners */
#partners {
  background-color: var(--secondary-color);
  height: 25vh;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.partner {
  width: 100px;
  height: 100px;
}
.partners-gallery {
  gap: 3rem;
  padding: 1.5rem;
  justify-content: center;
  align-content: center;
}
