* {
    box-sizing: border-box;
    padding: 10px;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    width: 90%;
}
/* Topic editing */
.topic {
    color: red;
    text-align: center;
}
div {
   
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 10px;
   
}
#p1 {
    background-color: greenyellow;
    border: 1px solid black;
    width: 225px; 
    float: right;
}
#p2 {
    background-color: crimson;
    border: 1px solid black;
    width: 225px;
    float: left;
    
}     
#p3 {
    background-color:darkgoldenrod;
    border: 1px solid black;
    width: 225px;
    float: right;
}
#p4 {
    background-color:darkslategrey;
    border: 1px solid black;
    width: 225px;
    float: left;
}
#p5 {
    background-color:fuchsia;
    border: 1px solid black;
    width: 225px;
    float: left;
}
#p6 {
    background-color:rgb(45, 102, 187);
    border: 1px solid black;
    width: 225px;
    float: right; 
}