* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4;
   */
  font: 15px/1.5 Arial, Helvetica, Sans-serif;
  background-color: #f4f4f4;
}
/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.container-nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  background: #35424a;
  color: #ffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 3px solid #e8491d;
}
header a {
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li {
}
header nav {
  display: flex;
  flex-direction: row;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-left: 2em;
  font-size: 1.5rem;
  color: #f9f8eb;
  text-transform: uppercase;
}
header .branding {
  display: inline;
}
.branding h1 {
  font-size: 2rem;
}
.highlight {
  color: #e8491d;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
.showcase {
  min-height: 400px;
  background: url("showcase.jpg") no-repeat 0 -400px;
  text-align: center;
  color: white;
}
.showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
showcase p {
  font-size: 20px;
}
.newsletter {
  padding: 15px;
  color: #ffff;
  background: #35424a;
}
.newsletter h1 {
  float: left;
}
.newsletter form {
  float: right;
  padding-top: 4px;
}
.e-mail-text {
  width: 200px;
  height: 30px;
  padding: 5px;
}
.button1 {
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #e8491d;
  border: 2px solid #c74622;
  border-radius: 4px;
}
/* BOXES */
.boxes {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 50px;
}
.box {
  padding: 5px;
}
.box-img {
  display: grid;
  margin: auto;
  width: 300px;
  height: 300px;
}
/* FOOTER */
footer {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
