table,th,td {
    border: 1px solid;
    
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    padding: 15px;
    background-color: #2fa02f;
    color: white;
}
td {   
    padding: 15px;

}

tr:nth-child(odd) {
    background-color: #c6cfd6;
}
tr:hover {
    background-color: #7482cf;

}
li  {
    color:Red;
    display:block;
}