/*
          SPACING SYSTEM (px)
          2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

          FONT SIZE SYSTEM (px)
          10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

          Primay : #e67e22
           
          Tints: #fdf2e9
          Shades: #cf711f
          Accents: 
          Grey: 
          #555

          SHADOWS 

          BORDER RADIUS 

          WHITESPACE
      */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px;
 */
  box-shadow: 0, 0, 0, 1rem rgba(230, 125, 34, 0.5);
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.section-header {
  background-color: #fdf2e9;
  padding: 6rem 0;
}
.grid {
  display: grid;
  gap: 6rem;
}
.grid:not(:last-child) {
  margin-bottom: 6rem;
}
.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-cols {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.container {
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.hero {
  display: grid;
  max-width: 81.25rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
  padding: 0 2rem;
}
.heading-primary,
.heading-secondary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5;
  margin-bottom: 6rem;
}
.heading-primary {
  font-size: 3.4rem;

  line-height: 1.05;

  margin-bottom: 2rem;
}
.heading-secondary {
  font-size: 2.75rem;
  line-height: 1.2;
}
.heading-tertiary {
  margin-bottom: 2rem;
  line-height: 1.2;
  font-weight: 700;
  font-size: 1.8rem;
}
.subheading {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.75px;
}
strong {
  font-weight: 700;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  transition: all 300ms;
  font-weight: 600;
}

.btn-left:link,
.btn-left:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-left:hover,
.btn-left:active {
  background-color: #cf711f;
}
.margin-right-sm {
  margin-right: 1rem !important;
}
.margin-bottom-md {
  margin-bottom: 3rem !important;
}

.btn-right:link,
.btn-right:visited {
  background-color: #fae5d3ff;
  color: #555;
}
.btn-right:hover,
.btn-right:active {
  background-color: #f8d8bd;
  color: #333;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 300ms;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
.center-text {
  text-align: center;
}
.hero-img {
  width: 100%;
}
.delivered-meals {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 5rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  border-radius: 50%;
  border: 1px solid #fae5d3ff;
  margin-right: -1rem;
  height: 4rem;
}
.delivered-text {
  font-size: 1.05rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  padding: 0rem 4rem;
  height: 6rem;
}
.logo {
  height: 1.375rem;
}

/* NAVIGATION */
.main-nav-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
.nav-bar-link:link,
.nav-bar-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.25rem;
  transition: all 300ms;
}
.nav-bar-link:hover,
.nav-bar-link:active {
  color: #cf711f;
}
.nav-bar-link.ctn:link,
.nav-bar-link.ctn:visited {
  padding: 0.75rem 1.5rem;
  color: #fff;
  background-color: #e67e22;
  border-radius: 9px;
}
.nav-bar-link.ctn:hover,
.nav-bar-link.ctn:active {
  background-color: #cf711f;
  padding: 1.1rem 2.1 rem;
}
/* FEATURED SECTION  */
.section-featured {
  padding: 3rem 2rem;
}
.heading-featuring-in {
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #999;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* HOW IT WORKS SECTION */
.section-how {
  padding: 6rem 0;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  color: #fdf2e9;
  z-index: -2;
  background-color: #fdf2e9;
}
.step-img-box::after {
  content: "";
  z-index: -1;
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
}
.step-img {
  width: 35%;
}
.step-number {
  margin-bottom: 0.75rem;
  font-size: 3.76rem;
  color: #ddd;
  font-weight: 600;
}
.step-description {
  line-height: 1.8;
  font-size: 1.25rem;
}
/* Meals Section */
.meal-tags {
  margin-bottom: 0.75rem;
  display: flex;
  gap: 0.25rem;
}
.tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;

  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag-vegetarion {
  background-color: #51cf66;
}
.tag-vegan {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}
.meal {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: 300ms;
}
.meal:hover {
  transform: translateY(-1.25rem);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 2rem 3rem 3rem 3rem;
}
.section-meals {
  padding: 6rem 0;
}
.meal-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
}
.meal-img {
  width: 100%;
}
.meal-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #e67e22;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list-item {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  gap: 1rem;
}
.list-icon {
  width: 1.875rem;
  height: 1.875rem;
  color: #e67e22;
}
.all-recipes {
  text-align: center;
  font-size: 1.125rem;
}

/* ************** */
/* TESTIMONIALS    */
/* ***************** */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonial-container {
  padding: 6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 3rem;
}
.testimonial-text {
  font-size: 1.125;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.testimonial-img {
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 0.75rem;
}
.test-name {
  font-size: 1rem;
  color: #6f6f6f;
}
/* ************** */
/* Gallery    */
/* ***************** */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 300ms;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/* ************** */
/* Pricing   */
/* ***************** */

.section-pricing {
  padding: 6rem 0;
}

.pricing-card {
  border-radius: 11px;

  width: 75%;
}
.card-left {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 2.9rem;
}
.card-right {
  background-color: #fdf2e9;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}
.card-right::before {
  content: "Best Value";
  position: absolute;
  text-transform: uppercase;
  color: #333;
  top: 6%;
  right: -17%;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #ffd43b;
  transform: rotate(45deg);
  padding: 0.4rem 4rem;
}
.price-header {
  text-align: center;
  margin-bottom: 3rem;
}
.plan-name {
  color: #cf711f;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 00.75px;
}
.price {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.price span {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 0.2rem;
}
.price-info {
  font-size: 1.25rem;
}
.sign-button {
  margin-top: 3rem;
  text-align: center;
}
/* ************** */
/* Pricing   FEATURES */
/* ***************** */
.feature-icon {
  color: #e67e22;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 2rem;
  background-color: #fdf2e9;
  padding: 1rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: 700;
}
.feature-text {
  font-size: 1.125rem;
  line-height: 1.8;
}
.plan-details {
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
}

/* ************** */
/* CTA SECTİON */
/* ***************** */
.section-cta {
  padding: 3rem 0 8rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(
    to right bottom,
    rgba(235, 151, 78),
    rgba(230, 125, 34)
  );
  border-radius: 11px;
  box-shadow: 0px 1.5rem 3rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(content/img/eating.jpg);
  background-size: cover;
  background-position: center;
  border: 11px;
}
.cta-text-box {
  padding: 3rem 4rem 4rem 4rem;
  color: #45260a;
}
.cta-text {
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
}
.cta-form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
}
.cta-form input {
  padding: 0.75rem;
  width: 100%;
  font-size: 1.25rem;
  border: none;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}

.cta-form select {
  padding: 0.75rem;
  width: 100%;
  font-size: 1.25rem;
  border: none;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.cta-form button {
  cursor: pointer;
  border: none;
  background-color: #45260a;
  color: #fdf2e9;
  padding: 0.75rem;
  align-self: end;
}
.cta-form button:hover {
  background-color: #fff;
  color: #333;
  padding: 0.75rem;
}
.cta *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px;
 */
  box-shadow: 0, 0, 0, 0.5rem rgba(253, 242, 233, 0.5);
}

/* ************** */
/* Footer SECTİON */
/* ***************** */
.footer {
  padding: 8rem 0;
  border-top: 1px solid #eee;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 2rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.copyright {
  font-size: 0.85rem;
  font-weight: 500;
  color: #767676;
  margin-top: auto;
}
.footer-heading {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.contacts {
  line-height: 1.6;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.address {
  margin-bottom: 1.5rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 300ms;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
