* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

:root {
  --top-back: rgba(0, 0, 0, 0)
    linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%) repeat
    scroll 0% 0%;
  --back1: rgb(39, 38, 44);
}
.heading1-box {
  background: var(--top-back);
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.i {
  display: flex;
  flex-direction: column;
}
.i2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 1.6rem;
}
.center-box {
  background: var(--top-back);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 3rem;
}
.help {
  font-family: "Times New Roman", Times, serif;
  display: inline-flex;
  color: rgb(39, 38, 44);
  justify-content: center;
  padding: 15px 30px 15px 30px;
  letter-spacing: 0.03em;
  line-height: 16px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 16px;
  border: none;
  background-color: rgba(235, 235, 247, 0.836);
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
}
.help:hover {
  opacity: 0.5;
}
.info-box {
  display: inline-flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: var(--back1);
  width: 310px;
  height: 150px;
  border-radius: 25px;
  padding: 32px;
  color: wheat;
}
.quantity {
  display: flex;
}
.cake-b {
  display: block;
  color: rgb(184, 173, 210);
  font-weight: 600;
  line-height: 1.5;
  margin-right: 4px;
  font-size: 16px;
}
.cake-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.claim-button {
  padding: 6px 12px 6px 12px;

  background-color: turquoise;
  border: none;

  -moz-box-align: center;
  align-items: center;
  border: 0px none;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;

  color: white;
}
body {
  background-color: black;
}
/*******/
/* NAV-BAR */
/*******/
.upper-bar {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 1500px;
  padding: 4.5rem 2rem;
}

.upper-left-bar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}

.stake-text {
  color: rgb(244, 238, 255);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}
/*******/
/* NAV-BAR ENDS*/
/*******/

/* ************ */
/* TOGGLE-BAR */
/* *********** */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(96, 78, 139);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 20px;
  left: 0px;
  bottom: -2px;
  background-color: rgb(141, 105, 224);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 8px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ************ */
/* TOGGLE ENDS  */
/* *********** */
.span1 {
  font-weight: 600;
  color: rgb(244, 238, 255);
  font-size: 19px;
}
.span2 {
  font-size: 14px;
}
.syrup-heading {
  color: rgb(154, 106, 255);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}
.heading-alt {
  color: rgb(244, 238, 255);
}
.button-outline {
  width: 24px;
  stroke: rgb(184, 173, 210);
}
.mb {
}
.mb:hover {
  cursor: pointer;
}
.activebutton {
  stroke: blue;
}
.toggle-2 {
  background-color: rgb(55, 47, 71);
  border-radius: 16px;
  display: inline-flex;
  border: 1px solid rgb(38, 33, 48);
  width: auto;
  padding-right: 12px;
  cursor: pointer;
}
.toggle-2 a {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;

  border-radius: 16px;
}
.checked-color {
  background-color: rgb(184, 173, 210);
}
/****************/
/* STAKED POOL */
/***************/
.poolgap {
}
.poolstable {
  display: flex;
  color: white;
  gap: 1.5rem;
  text-align: center;
}
.StakeCake,
.CoinStaked,
.CoinApy {
  justify-content: center;
  height: 32px;
}
.CoinName {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
.CoinInfo {
  font-size: 12px;
}
.coinLabel {
  color: rgb(184, 173, 210);
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  text-align: left;
}
.CoinStaked {
  display: flex;
  flex-direction: column;
  height: 32px;
}
.CoinNumber,
.CoinDollar {
  margin: 0;
  font-size: 14px;
}
.APY {
  justify-content: center;
}
