* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

:root {
  --top-back: rgba(0, 0, 0, 0)
    linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%) repeat
    scroll 0% 0%;
}
.heading1-box {
  background: var(--top-back);
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.i {
  display: flex;
  flex-direction: column;
}
.i2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 1.6rem;
}
.center-box {
  background: var(--top-back);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 3rem;
}
.help {
  display: inline-flex;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 16px;
  border: none;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
}
.info-box {
  display: inline-flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: black;
  width: 240px;
  height: 150px;
  border-radius: 17px;
  padding: 32px;
  color: wheat;
}
.quantity {
  display: flex;
}
.cake-b {
  display: block;
  color: rgb(184, 173, 210);
  font-weight: 600;
  line-height: 1.5;
  margin-right: 4px;
  font-size: 16px;
}
.cake-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.claim-button {
  padding: 6px 12px 6px 12px;

  background-color: turquoise;
  border: none;

  -moz-box-align: center;
  align-items: center;
  border: 0px none;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;

  color: white;
}

.span1 {
  font-weight: 600;
  color: rgb(244, 238, 255);
  font-size: 19px;
}
.span2 {
  font-size: 14px;
}
.syrup-heading {
  color: rgb(154, 106, 255);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}
.heading-alt {
  color: rgb(244, 238, 255);
}
.button-outline {
  width: 24px;
}
