* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
h1 {
    margin-bottom:15px;
    text-align: center;
}
p {
    
    
    width:100%;
    background-color: rgb(122, 112, 112);
    color:white;
    padding: 30px 16px 0px 16px;
    margin-bottom: 0px;
    

}
.title {
    background-color: #ad2f2f;
    color:rgb(197, 135, 19);
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width:120px;
    height: 30px;
     
    
}
#row {
    width:100%;
    
     
   
}
.row:after {
    content:"";
    display: table;
    clear:both;
}
.Col {
    margin-top:50px;
    float:left;
    border:1px solid black;
    width:30%;
    position:relative;
    margin:15px;
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .Col {
        float:left;
        border: 2px solid green;
        width: 45%;
        margin-left: 15px;
        margin-right:15px;
        position:relative;
    }

    .Col3 {
        border: 1px solid green;
        width: 93.5%;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: auto;
        position:relative;
    }

}
@media (max-width: 768px)  {
    .Col {
        float:left;
        border: 1px solid green;
        width:100%;
        margin-bottom: 10px;
        position:relative;
    }


}
